.frame {
  height: 200px;
  background-color: green;

  @media screen and (min-width: 860px) {
    height: 300px;
  }
}

.button {
  position: absolute;
  top: 40%;
  z-index: 1;
  display: none;
  width: 4.8rem;
  height: 4.8rem;
  border: 0;
  border-radius: 50%;
  background-color: transparent;

  @media screen and (min-width: 850px) {
    display: initial;
  }
}

.buttonLeft {
  left: 0.5rem;
}

.buttonRight {
  right: 0.5rem;
}
